.container{
    background-color: rgb(216, 212, 212);
    margin-top: 20px;
}
.head-line{
    color:springgreen;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
}
.error-msg{
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
}